[submodule "deps/engine.io"]
	path = deps/engine.io
	url = https://github.com/jokester/engine.io
[submodule "deps/socket.io"]
	path = deps/socket.io
	url = https://github.com/jokester/socket.io
[submodule "deps/rollup-plugin-node-polyfills"]
	path = deps/rollup-plugin-node-polyfills
	url = https://github.com/jokester/rollup-plugin-node-polyfills
[submodule "deps/socket.io-adapter"]
	path = deps/socket.io-adapter
	url = https://github.com/jokester/socket.io-adapter
[submodule "deps/engine.io-parser"]
	path = deps/engine.io-parser
	url = https://github.com/jokester/engine.io-parser.git
